a, h1, h2, h3, h4, h5, h6{
    font-family: 'KoHo', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 24px;
}

.nav a{
    text-decoration: none;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav div{
    padding-top: 16px;
}

.projectGally{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
    overflow: auto;
}

.halfCols{
    width: 100%;
    height: auto;
}

.cards{
    position: relative;
    padding-bottom: 18px;
    padding-top: 18px;
}

.cards img{
    height: auto;
    width: 100%;
    background-color: white;
    user-select: none;
}

.title{
    position: absolute;
    top: 32px;
    left: 32px;
    font-weight: 400;
    text-transform: uppercase;
    text-wrap: balance;
    max-inline-size: 32ch;
}

.bottomTxt{
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
}

.bottomTxt h2{
    font-weight: 400;
    text-transform: uppercase;
}

.flexBox{
    display: flex;
    justify-content: space-between;
}