:root {
    --dark: #ffffff;
    --light: #000000;
    --gray: #808080;
    --ghost: #8080804e;
    --yellow: #FDCA6A;
    --darkGray: #262626;
    --hoverGray: #151515;
    --mdMargin: 96px;
    --lgMargin: 360px;
    --smMargin: 64px;
    --purpleish: #e5e4f2;
    --medium-dark: #696969;
    --medium-light: #aaa;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: sans-serif;
    transition: color 0.5s ease, background-color 0.5s ease;
}

body,
html {
    overscroll-behavior-y: none;
    /* Disable pull-to-refresh */
}

html,
body,
.content {
    overflow-x: hidden;
}

.lightMode {
    --light: #ffffff;
    --dark: #000000;
    --gray: #808080;
    --yellow: #FDCA6A;
    --darkGray: #ededed;
    --hoverGray: #d7d7d7;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.toggle {
    border-radius: 100rem;
    display: flex;
    width: fit-content;
    align-items: center;
    z-index: 9999;
}

.year {
    position: absolute;
    right: 64px;
    bottom: 32px;
}

.pageArrow {
    position: fixed;
    z-index: 333333;
    right: 64px;
    font-size: 32px;
    bottom: 32px;
    cursor: pointer;
    height: auto;
}

.pageViewer {
    position: fixed;
    width: 52px;
    right: 64px;
    height: 180px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    z-index: 1111;
}


.pageSection {
    width: 2px;
    background-color: var(--dark);
    height: 180px;
}


.rect {
    content: '';
    position: absolute;
    top: 0px;
    width: 32px;
    height: 16px;
    margin-left: 48px;
    margin-right: 48px;
    background-color: var(--dark);
    cursor: pointer;
    touch-action: none;
}

.rect:hover {
    background-color: gray;
}

.navDot {
    border-radius: 100rem;
    height: 30px;
    width: 30px;
    background-color: var(--dark);
    cursor: pointer;
    position: fixed;
    z-index: 2222222;
    top: 36px;
    right: 64px;
    margin: auto;
}

.mdMargin {
    height: var(--mdMargin);
    width: 100%;
}

.lgMargin {
    height: var(--lgMargin);
    width: 100%;
}

* {
    font-family: "Instrument Sans", sans-serif;
}

ul {
    list-style-type: none;
}

br {
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

::selection {
    background: var(--dark);
    color: var(--light);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    -ms-overflow-style: none;
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    text-wrap: balance;
    font-weight: 400;
    letter-spacing: 1px !important;
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-shrink: 0;
}

/*nav and menu*/

.menu--toggle {
    display: none;
}

.menu--body {
    background-color: var(--light);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: -100%;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    overflow: hidden;
}

.menu--toggle:checked~.menu--body {
    top: 0;
    transition: 1s ease;
}

.follow {
    color: var(--dark);
    padding: 16px;
    bottom: 0;
    position: absolute;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}


.follow h1 {
    font-size: 22px;
}

.follow a {
    color: var(--light);
    font-size: 22px;
    text-transform: uppercase;
}

.menu--toggle--text {
    display: none;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    right: 16px;
    top: 8px;
    color: var(--dark);
    font-size: 32px;
    user-select: none;
    position: fixed;
    z-index: 99999999;
}

.moibleLogo {
    position: fixed;
    left: 16px;
    top: 16px;
    z-index: 22222222;
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: 500;
    display: none;
}

.menu--list {
    list-style: none;
    z-index: 999999;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

ul {
    padding-inline-start: 0;
}

.menu--list li {
    font-size: 48px;
    margin: auto;
    width: fit-content;
}

.navList {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0px;
    padding-left: var(--smMargin);
    padding-right: var(--smMargin);
    padding-top: 32px;
    padding-bottom: 32px;
    z-index: 999999;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-content: center;
    list-style-type: none;
    color: var(--light);
    overflow: hidden;
    transition: 0.5s ease;
    background-image: linear-gradient(to Top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.75),
        rgb(0, 0, 0)
    );
    pointer-events: none;
}

.navList img {
    height: 48px;
    mix-blend-mode: difference;
}

.navList h2 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.navList h2:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.fade-out {
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
}

.navList .flexBox {
    margin-bottom: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList a {
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 32px;
    text-transform: uppercase;
    transition: 0.5s ease;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    mix-blend-mode: difference;
    height: fit-content;
    transition: 0.4s ease;
    pointer-events: visible;
}

.navList a:hover,
#active:hover {
    color: var(--light);
    background-color: var(--dark);
    border-radius: 0;
    padding: 4px;
    border-radius: 4px !important;
    transition: 0.4s ease;
}

#active {
    color: var(--light);
    background-color: var(--dark);
    font-style: italic;
    border-radius: 0;
    padding: 4px;
    border-radius: 4px;
}

#activeContent{
    color: white !important;
    font-weight: 500 !important;
}

.widthSections {
    position: fixed;
    top: 86px;
    width: calc(100% - 64px);
    height: fit-content;
    border-radius: 18px;
    z-index: 3333;
    background-color: var(--dark);
    left: 32px;
    right: 32px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 32px;
}



.navProject h2 {
    color: var(--light);
    padding-top: 16px !important;
    padding-bottom: 0 !important;
}


.smalltxt {
    font-size: 22px;
    cursor: pointer;
}

.smalltxt a {
    color: var(--gray);
    transition: 0.5s ease;
}

.smalltxt a:hover {
    transform-origin: center;
    transition: 0.5s ease;
    cursor: pointer;
    color: var(--yellow);
}

#abouts {
    height: 164px;
}

.aboutMe {
    position: relative;
}

/*Index Styles*/
.content {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.cpation h1{
    font-size: 24px !important;
    line-height: 32px !important;
    text-align: center;
    padding-top: 32px !important;
}

img {
    width: 100%;
    height: auto;
}

.half h1 {
    padding-top: 16px;
    margin-top: 0;
    padding-bottom: 0;
}

.project,
.skills {
    position: relative;
    padding: var(--smMargin);
    margin: auto;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.project .flexBox:last-child {
    margin-bottom: 0;
}


.flowStuff{
    height: 100%;
    background-color: green;
    width: 20%;
    position: absolute;
}

.marginMiddle{
    margin: auto !important;
    max-width: 1080px;
}

.wrapper{
    display: flex;
    height: fit-content;
}

.wait {
    cursor: wait;
}

.project h3 {
    text-align: left;
    margin: auto;
    margin-top: 16px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.passage {
    text-wrap: balance;
}

#paddingTop {
    padding-top: 430px;
}

/* .half .passage {
    max-width: 80%;
} */

.mdTxt {
    font-size: 4.2vw;
    line-height: 5.2vw;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 500;
}

.smTxt {
    font-size: 18px !important;
    line-height: 24px !important;
    color: var(--gray) !important;
    letter-spacing: 1px;
    font-weight: 400 !important;
    text-transform: none !important;
}

.smTitle {
    font-size: 18px !important;
    line-height: 24px !important;
    color: var(--white) !important;
    letter-spacing: 1px;
    font-weight: 400 !important;
    text-transform: none !important;
    margin-bottom: 0 !important;
}

.lgTxt {
    font-size: 8vw;
    padding-left: var(--smMargin);
    padding-right: var(--smMargin);
    line-height: 8vw;
    width: fit-content;
    cursor: pointer;
    margin-bottom: var(--smMargin);
    margin-top: 0;
}

.xlTxt {
    padding-bottom: 16px;
    padding-top: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 7vw;
    line-height: 7vw;
    margin: 0;
}

.lgTitle {
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 400;
}

.archives h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 7vw;
    z-index: 12;
    line-height: 7vw;
    top: calc(100% / 2 - 7vw);
}

.projectHero .lgTitle {
    padding-top: var(--lgMargin);
}

.skills h1 {
    color: var(--dark);
}

.project .flexBox {
    gap: 12vw;
}

.projectWriting .flexBox {
    gap: 32px;
}

.bg {
    background-color: var(--light);
    padding-bottom: 64px;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
}

.project .half .flexBox {
    height: fit-content;
}

.project h2 {
    font-size: 4.2vw;
    line-height: 4.8vw;
    padding-top: 16px;
    margin-bottom: 32px;
    margin-top: 16px;
    color: var(--dark);
    font-weight: 500 !important;
    border-radius: 100rem;
    text-transform: uppercase;
}

/* .project h3{
    font-size: 4.2vw;
    line-height: 4.8vw;
    padding-top: 16px;
    margin-bottom: 32px;
    margin-top: 16px;
    color: var(--dark);
    font-weight: 500 !important;
    border-radius: 100rem;
} */

.project p {
    font-size: 24px;
    color: var(--dark);
    text-transform: uppercase;
    padding-top: 0;
    margin-bottom: 0;
}

.hero .blox {
    background-color: var(--dark);
    width: 100%;
    height: 8vw;
    overflow: hidden;
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 100rem;
}

.hero .blox img {
    width: 100%;
    height: auto;
}

.aboutMe {
    height: fit-content;
}

.aboutMe .marquee {
    padding-bottom: 0;
    text-transform: uppercase;
}

.flexBox {
    align-items: center;
}

.full {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    width: 80%;
}

.full:nth-child(1) {
    width: 80%;
}

/* .full img, .half img, .clipping{
    border-radius: 18px;
} */

.experiance {
    padding: 0;
    padding-bottom: 132px;
}

.experiance h1 {
    color: var(--dark);
    font-size: 4.4vw;
    line-height: 4.8vw;
    padding-left: 0;
    font-weight: 400 !important;
}

.thirty {
    width: 30%;
}

.seventy {
    width: 70%;
}

#toggle-button {
    padding: 0;
    margin: 0;
}

.gaps {
    height: 60dvh;
}

.articles {
    margin: 0;
    padding-left: 64px;
    padding-right: 64px;
}

.articles .flexBox {
    margin-bottom: 0;
}

.newcta {
    margin: 0;
    margin: auto;
    height: fit-content;
    margin: auto;
    width: fit-content;
}

.newcta h3 {
    font-size: 32px;
    width: fit-content;
    margin: auto;
    padding-bottom: 232px;
}

.newcta h2 {
    text-align: center;
}

.newcta .flexBox {
    margin-bottom: 0;
}

.textContainer {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 64px;
    /* top: calc(100% / 2 - 9vw); */
    left: 64px;
    height: fit-content;
    z-index: 2222;
    backface-visibility: hidden;
}

.textContainer h3 {
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 16px;
    width: fit-content;
}

.text h2 {
    font-size: 4.2vw;
    line-height: 5.2vw;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    backface-visibility: hidden;
}

.text {
    position: relative;
    width: 100%;
    z-index: 12px;
    overflow: hidden;
    backface-visibility: hidden;
    left: 0;
    margin-left: 0 !important;
}

.line {
    opacity: 0;
    text-transform: uppercase;
    font-weight: 500;
    animation: slideIn 1.2s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
        rotate: -4deg;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        rotate: 0deg;
    }
}

.project .half,
.project .full {
    position: relative;
}

.project .half img,
.project .full img {
    width: 100%;
    height: auto;
}

/****************/

.hook {
    color: var(--light);
    background-color: var(--dark);
    border: 3px solid var(--dark);
    padding: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100rem;
    transition: 0.5s ease;
    text-decoration: none !important;
}

.hook:hover {
    background-color: var(--light);
    color: var(--dark);
    transition: 0.5s ease;
}

.outline {
    color: var(--dark);
    border: 3px solid var(--dark);
    background-color: var(--light);
    padding: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100rem;
    transition: 0.5s ease;
    text-decoration: none !important;
}

.box .eye {
    position: relative;
    width: 24vw;
    height: 24vw;
    display: block;
    background-color: var(--yellow);
    border-radius: 100rem;
    flex-shrink: 0;
}

.box .eyeTwo {
    position: relative;
    width: 24vw;
    height: 24vw;
    display: block;
    background-color: var(--yellow);
    border-radius: 100rem;
    flex-shrink: 0;
}

.speck {
    background-color: var(--dark);
    width: 9vw;
    height: 9vw;
    flex-shrink: 0;
    border-radius: 100rem;
}

.box .eye:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 9vw;
    height: 9vw;
    background: black;
    border-radius: 100rem;
    left: 30%;
    transform: translate(-50%, -50%);
}

.box .eyeTwo:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 9vw;
    height: 9vw;
    background: var(--light);
    border-radius: 100rem;
    left: 30%;
    transform: translate(-50%, -50%);
}

.aboutArrow {
    position: fixed;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 1000;
    display: none;
    opacity: 0;
    height: 320px;
    width: 320px;
    z-index: 1000;
    cursor: none;
    background-color: var(--dark);
    border-radius: 100rem;
}

.aboutArrow img {
    padding: 32px;
    width: 100%;
    height: auto;
    border-radius: 100rem;
    box-sizing: border-box;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.aboutMe:hover .aboutArrow {
    display: block;
    opacity: 1;
    transition: 0.1s ease-out;
    cursor: none;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 12px;
    cursor: pointer;
}

.underline:hover {
    color: var(--gray);
    cursor: pointer;
}

.fullImgView {
    margin: auto;
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.fullImgView p {
    text-align: center;
    padding-top: 16px;
    font-size: 24px;
}

.projectHero {
    margin: auto;
    padding-left: 64px;
    padding-right: 64px;
}

.rols {
    padding-bottom: 132px;
}

.rols p {
    font-size: 32px;
    font-weight: 400px;
}

.projectHero .cols {
    align-items: flex-start;
    position: relative;
    height: fit-content;
    padding: 0;
}

.projectHero .seeSiteBtn {
    background-color: var(--dark);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 24px;
    line-height: 24px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.seeSiteBtn {
    border-radius: 100rem;
    background-color: var(--dark);
    color: var(--light);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    border: 2px solid var(--dark);
}

.seeSiteBtn:hover {
    color: var(--dark);
    background-color: var(--light);
}

.projectHero .seeLinks {
    height: 100px;
}

.projectHero .seeSiteBtn:hover {
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.projectHero .cols a {
    padding-right: 0;
}

.projectHero .seeSiteBtn a {
    color: var(--light);
    font-size: 22px;
    text-align: center;
}

.projectTitles {
    padding-bottom: 32px;
}

.projectTitles h4 {
    font-weight: 400;
}

.centerTxt {
    font-size: 4.8vw;
    line-height: 4.8vw;
    text-align: center;
}

.projectHero {
    margin: auto;
}

.projectHero .flexBox {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    align-items: start;
    flex-shrink: 0;
}

.projectHero h2 {
    font-weight: 400;
}

.team .cols {
    text-align: center;
}

.projectSections h1 {
    font-size: 4.2vw;
    line-height: 4.4vw;
    font-weight: 400;
    text-wrap: balance;
}

/* .projectSections h1 {
    padding-top: 232px;
    padding-bottom: 64px;
} */

.chips {
    width: fit-content;
    line-height: 1.4em;
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: gray;
    font-weight: 400 !important;
    text-align: left;
    width: 100%;
    height: auto;
}

.pChips {
    font-size: 24px;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    color: var(--dark);
    text-transform: uppercase;
    background-color: var(--ghost);
    width: fit-content;
    height: fit-content;

}

.marqueeProjects {
    height: fit-content;
    padding-top: 56px;
    background-color: var(--dark);
}

.marqueeProjects .marquee__content {
    height: auto;
    width: 400px;
    padding: 0;
    flex-shrink: 0;
}

.marqueeProjects .marquee__content img {
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

.projectWriting {
    margin: auto;
    height: auto;
    padding-top: 124px;
    margin-left: 0;
}

.projectWriting .flexBox{
    justify-content: start;
    align-items: start;
}

.projectWriting p {
    font-size: 22px;
    line-height: 30px;
    text-transform: none;
}

.projectWriting h1 {
    font-weight: 600;
    text-transform: uppercase;
}

.darkbg {
    background-color: var(--light);
    color: var(--dark);
    position: relative;
}

.lgSpacing {
    padding-top: 132px;
}

.lgSpacing .half {
    margin: auto;
}


.imageGrid {
    margin: auto;
    height: auto;
}

.imageGrid .flexBox {
    gap: 32px;
    flex-shrink: 0;
}

.projectHero h2 {
    font-size: 32px;
    line-height: 1.3em;
}

.projectHero h3 {
    font-size: 18px;
    color: var(--light);
    line-height: 1.3em;
    font-weight: 400;
    text-align: center;
    padding-top: 16px;
    text-transform: uppercase;
}

.HeroTitle {
    padding-top: 20%;
    margin-left: 0 !important;
}

.half h2 {
    font-weight: 400;
}

@keyframes moveUP {
    0% {
        padding-top: 20%;
        opacity: 0;
    }

    100% {
        padding-top: 15%;
        opacity: 1;
    }
}

.no-scroll {
    overflow: hidden;
}

.projectHero p {
    padding-top: 32px;
    font-size: 24px;
    line-height: 1.4em;
    max-width: 860px;
    font-weight: 500;
    color: var(--gray);
    margin: auto;
    text-wrap: balance;
}

.projectHeader {
    padding-left: 0;
    padding-right: 0;
}

.projectHeader h2 {
    font-size: 32px;
    padding-top: 32px;
    font-weight: 400;
    max-width: 860px;
    margin: auto;
    text-wrap: balance;
}

.projectHeader h4 {
    font-size: 32px;
    line-height: 1.4em;
    margin: auto;
    padding-left: 64px;
    text-wrap: balance;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.projectHeader .cols h1 {
    padding-top: 0;
    margin-left: 0 !important;
    text-align: left !important;
    width: fit-content !important;
}

.links {
    position: absolute;
    bottom: 0;
    right: 0;
}

#rotateWords,
#rotateWordsTwo {
    color: var(- -yellow);
}

.hero {
    position: relative;
    padding: 64px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 36px;
    height: 80dvh;
    background-color: var(--light);
    transition: color 0.5s ease, background-color 0.5s ease;
}

.projectHero .half, .half {
    width: calc(100% / 2 - 32px);
}

.TextBox {
    height: 200px;
    width: 600px;
    border-radius: 100rem;
    color: transparent;
    user-select: none;
}

.vigor .half h1 {
    color: #5166E5;
    max-width: 30ch;
    font-size: 56px;
    line-height: 56px;
    padding-bottom: 64px;
    padding-top: 0;
}

.vigor .half {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 132px;
}

.credits {
    font-size: 16px;
    color: #8d8d8d;
}

.vigor h2,
.vigor h3 {
    color: #8d8d8d;
    font-weight: 400;
    text-align: left;
    margin: auto;
    max-width: 800px;
}

.vigor .center {
    text-align: center;
    margin: auto;
}

.vigor .center h1 {
    color: #5166E5;
    max-width: 30ch;
    font-size: 56px;
    line-height: 56px;
    padding-bottom: 64px;
    padding-top: 0;
    max-width: 800px;
}

.vigor .center p {
    font-weight: 400;
    text-align: left;
    margin: auto;
    max-width: 800px;
}

.vigor h3 {
    padding-bottom: 64px;
}

.half p {
    text-wrap: balance;
}

.vigor .half p {
    font-size: 24px;
    max-width: 42ch;
}

.wideTitle {
    padding-top: 132px;
    padding-bottom: 132px;
    padding-left: 32px;
    padding-right: 32px;
}

.wideTitle h1 {
    padding: 16px;
    font-size: 32px;
    line-height: 48px;
    color: var(--dark);
    margin: auto;
    max-width: 800px;
    padding-left: 0;
    padding-bottom: 36px;
}

.wideTitle h2 {
    padding: 16px;
    font-size: 24px;
    line-height: 48px;
    color: var(--dark);
    margin: auto;
    max-width: 800px;
    padding-left: 0;
    padding-bottom: 36px;
    text-align: left;
    font-weight: 400;
}

.wideTitle video {
    margin: auto;
    width: 100%;
    height: auto;
    padding-top: 64px;
    border-radius: 100rem;
    overflow: hidden;
}

.wideTitle p {
    font-size: 22px;
    max-width: 800px;
    margin: auto;
    text-align: left;
    color: var(--gray);
}

.bio,
.things,
.contact,
.archive {
    width: 100%;
    height: auto;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
}

.articles {
    position: relative;
    margin: auto;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 64px;
    padding-top: 64px;
    padding: 32px;
}

.articles .cols {
    position: relative;
    transition: 0.3s ease;
    top: 0px;
    width: calc(100% / 3);
}

.articles .flexBox {
    gap: 32px;
    flex-shrink: 0;
}

.articles img {
    transition: 0.5s ease;
    scale: 1;
    flex-shrink: 0;
}

.articles h2 {
    padding-top: 16px;
    font-size: 32px !important;
    line-height: 1.4em;
    text-transform: uppercase;
    color: var(--dark);
    font-weight: 400;
}

.articles .cols:hover h2 {
    text-decoration: underline;
}

.articles p {
    color: var(--gray);
    font-size: 32px !important;
    padding-bottom: 16px;
    padding-top: 32px;
}

.articles .cols .clipping {
    margin-bottom: 16px;
}

.articles .cols:hover img {
    transform: scale(1.02);
    cursor: pointer;
    transition: 0.5s ease;
    flex-shrink: 0;
}

.archive {
    padding-top: 230px;
}

.bio {
    padding-bottom: 164px;
}

.bio h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.bio h2 {
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -1%;
    max-width: 35ch;
    padding-bottom: 32px;
}

.bio h5 {
    border: 1px solid var(--light);
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
    padding: 16px;
    border-radius: 100rem;
}

.logo {
    transition: 0.5s ease;
}

.logo img {
    height: 64px;
    height: auto;
}

.logoReel {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
}

.logoReel img {
    width: 200px;
    height: auto;
    margin-right: 132px;
    flex-shrink: 0;
}

.errorMessage {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
    z-index: 2;
    user-select: none;
}

.errorMessage h1 {
    font-size: 4.5vw;
    height: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.errorMessage p {
    width: 60%;
}


.errorMessage h2 {
    font-size: 24px;
    text-transform: uppercase;
    width: fit-content;
}

.gameCanvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

.circle {
    border: 2px solid var(--dark);
    border-radius: 100rem;
    padding-left: 32px;
    padding-right: 32px;
}

.skillsets .hr {
    height: 4px;
    background: linear-gradient(270deg, var(--light), var(--medium-dark));
    background-size: 400% 400%;
    -webkit-animation: GrayScale 9s ease infinite;
    -moz-animation: GrayScale 9s ease infinite;
    -o-animation: GrayScale 9s ease infinite;
    animation: GrayScale 9s ease infinite;
}

.face {
    position: relative;
    height: fit-content;
    width: 100%;
}

.projects hr {
    margin-bottom: 64px;
    margin-left: 32px;
    margin-right: 32px;
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

.projects {
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 164px;
}

.projects .half {
    width: 50%;
}

.experiance h1 {
    font-size: 4.4vw;
    line-height: 4.8vw;
    margin-bottom: 112px;
    font-weight: 500 !important;
    padding-left: 32px;
    padding-right: 32px;
}

.experiance h2 {
    padding-left: 32px;
    font-size: 32px;
}

.projects .flexBox {
    gap: 32px;
    padding-left: 64px;
    padding-right: 64px;
    flex-shrink: 0;
}

.moreWork,
.archiveWork {
    margin-bottom: 112px;
}

.projects .row {
    transition: 0.5s ease;
    /* border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray); */
}

.projects .row .md {
    max-width: calc(100% - 64px);
    margin: auto;
    /* margin-left: 32px;
    margin-right: 32px; */
    padding-bottom: 64px;
}

/*Canvas element website*/

.stickerBoard {
    position: relative;
    height: fit-content;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.canvas {
    width: 100%;
    height: 50dvh;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    overflow: visible;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stickerBoard .canvas img.sticker {
    pointer-events: auto;
    /* Allow interaction with the stickers if needed */
    cursor: pointer;
}

.defaultstickers {
    position: absolute;
    left: 96px;
    top: 32px;
    width: 300px;
    z-index: 1;
    rotate: -30deg;
}

.sticker {
    position: absolute;
    width: auto;
    /* Maintain aspect ratio */
    pointer-events: none;
    /* Ensure stickers are not clickable */
    -webkit-touch-callout: none;
    /* Prevents long-press callout */
    -webkit-user-select: none;
    /* Prevents text selection on iOS */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Removes the grey tap highlight on iOS */
    outline: none;
    /* Remove blue highlight when tapping */
    z-index: 2;
}

.bar {
    width: calc(100% - 128px);
    height: 4px;
    margin: auto;
    margin-top: 16px;
    z-index: -1;
    background: linear-gradient(270deg, var(--light), var(--medium-dark));
    background-size: 400% 400%;
    -webkit-animation: GrayScale 9s ease infinite;
    -moz-animation: GrayScale 9s ease infinite;
    -o-animation: GrayScale 9s ease infinite;
    animation: GrayScale 9s ease infinite;
    user-select: none;
}

@-webkit-keyframes GrayScale {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes GrayScale {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes GrayScale {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes GrayScale {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.akImg {
    margin-bottom: 32px;
    width: 88px;
    height: auto;
    z-index: 12;
}

.akImg:hover {
    animation: rotation 5s linear infinite forwards;
    cursor: cell;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.projects .chip {
    border: 1px solid var(--gray);
    border-radius: 100rem;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    font-size: 16px;
    color: var(--gray);
    margin-top: 22px;
}

.project .half img,
.full img {
    transform: scale(1.03);
    transition: 0.8s ease;
    opacity: 1;
    flex-shrink: 0;
}

.project .half:hover img,
.full:hover img {
    transform: scale(1.02);
    transition: 0.8s ease;
    flex-shrink: 0;
}

.imageGrid .half:hover img {
    transform: scale(1.02);
    flex-shrink: 0;
}

.projects .half h1,
.projects .md h1,
.articles .cols h2 {
    text-underline-offset: 8px;
}

.projects .half:hover h1,
.projects .md:hover h1 {
    text-decoration: underline;
}

.box,
.serviceBox {
    width: calc(50% - 24px);
}

.archive .box {
    width: 100%;
}

.archive .photoCard {
    height: 40px;
    overflow: hidden;
}

/* .full {
    width: 100%;
    margin-bottom: 64px;
} */

.capations .flexBox {
    padding-bottom: 0;
    padding-top: 16px;
}

.capations h2 {
    font-size: 22px;
    color: var(--dark);
    width: 100%;
    font-weight: 400;
}

.capations h4 {
    font-size: 18px;
    color: rgb(52, 52, 52);
    width: 100%;
    font-weight: 400;
    padding-top: 0px;
}

.photoCard:hover {
    cursor: pointer;
}

.photoCard {
    position: relative;
    transition: background-color 0.2s ease;
}

.clipping {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.clipping:hover h3 {
    animation: viewAble 0.5s ease;
    transition: 0.5s ease;
    display: block;
}

.clipping h3 {
    background-color: var(--dark);
    color: var(--light);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    font-size: 22px;
    border-radius: 100rem;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: calc(100% / 2 - 48px);
    transition: 0.5s ease;
    display: none;
    text-transform: uppercase;
    rotate: 0deg;
    font-weight: 500;
}

@keyframes viewAble {
    0% {
        opacity: 0;
        rotate: -12deg;
        top: calc(100% / 2.3 + 132px);
    }

    100% {
        opacity: 1;
        rotate: 0deg;
        top: calc(100% / 2 - 48px);
    }
}

/* .photoCard img {
    transform: scale(1.2);
    transition: 0.4s ease;
} */

/* .photoCard:hover img {
    transform: scale(1.02);
    transition: 0.4s ease;
} */

.photoCard h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 24px;
    color: var(--dark);
}

/* .photoCard h3 {
    font-size: 16px;
    padding-top: 2px;
    text-wrap: balance;
    max-width: 50ch;
    font-weight: 400;
    font-size: 18px;
    color: #4f4f4f;
    text-transform: uppercase;
}

.photoCard h2,
.photoCard h3,
.rows h4 {
    transition: color 0.2s ease;
} */

/* .photoCard:hover h2 {
    color: #4f4f4f;
    transition: 0.2s ease;
} */

.things {
    padding-top: 164px;
}

.serviceBox {
    border: 1px solid var(--dark);
    padding: 12px;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 400;
    height: 400px;
    position: relative;
    margin-bottom: 64px;
}

.storyCards {
    min-width: 420px;
    margin-right: 164px;
}

.storyCards img {
    width: 420px;
    height: auto;
}

.contact {
    text-align: center;
    padding-bottom: 164px;
}

.contact h1 {
    font-size: 9.4vw;
    line-height: 8vw;
    text-transform: uppercase;
    padding-top: 164px;
    font-weight: 900 !important;
}

.contact p {
    font-size: 22px;
    padding-top: 32px;
    padding-bottom: 16px;
    width: 570px;
    margin: auto;
    line-height: 24px;
    color: #4f4f4f;
    text-transform: uppercase;
}

.contact a {
    font-size: 22px;
    text-transform: uppercase;
}

#colsStuff {
    align-items: start;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.cols {
    width: calc(100% / 4);
    display: inline-block;
}

.newcols {
    width: calc(100% / 3 - 64px);
    filter: grayscale(1);
}


.cols h4 {
    padding-bottom: 32px;
}

.cols h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 16px;
}

.cols p {
    font-size: 22px;
    line-height: 28px;
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    color: var(--dark);
}

.marquee2{
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 64px !important;
    color: var(--dark);
}

.marquee__content__Slow{
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 64px !important;
}

.projectMarquee {
    --gap: 4rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    color: var(--dark);
    margin-bottom: 32px;
    margin-top: 264px;
}

.marquee__content,
.hero_marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

.hero_marquee__content {
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}

.marquee li {
    text-decoration: none;
    list-style-type: none;
    font-size: 17vw;
}

.marquee__content {
    animation: scroll 60s linear infinite;
    padding-bottom: 0;
}

.marquee__content__Slow {
    animation: scroll 120s linear infinite;
    padding-bottom: 0;
}

.marquee__content__Slow__inverse {
    animation: inverseScroll 120s linear infinite;
    padding-bottom: 0;
}

.projectSections .marquee__content {
    opacity: 1;
}

.projectSections .marquee__content {
    width: auto;
}


.hero_marquee__content {
    animation: scroll 120s linear infinite;
    padding-bottom: 0;
}

.spin {
    position: absolute;
    rotate: 0deg;
    animation: spinning 15s linear infinite;
}

@keyframes spinning {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.archive {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    animation: fadeIn 1s ease;
    height: 4780px;
    width: 100%;
}

.blocks {
    position: absolute;
    padding: 32px;
    width: fit-content;
    z-index: 1;
    background-color: transparent;
    transition: 0.4s ease;
}

.blocks h3 {
    font-weight: 400;
    padding-top: 12px;
    font-size: 18px;
}

.blocks h4 {
    font-weight: 400;
    color: #4f4f4f;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blocks:nth-child(1) {
    height: 480px;
    top: -120px;
    left: 8%;
    background-size: cover;
}

.blocks:nth-child(2) {
    height: 1080px;
    top: 596px;
    left: 0%;
    background-size: cover;
}

.blocks:nth-child(3) {
    top: 1990px;
    left: 0;
    height: 570px;
    background-size: cover;
}

.blocks:nth-child(4) {
    top: 220px;
    right: 0;
    height: 480px;
    background-size: cover;
}

.blocks:nth-child(5) {
    top: 845px;
    right: 5%;
    height: 760px;
    background-size: cover;
}

.blocks:nth-child(6) {
    top: 2700px;
    height: 980px;
    right: 0%;
    background-size: cover;
}

.blocks:nth-child(7) {
    top: 2900px;
    height: 620px;
    left: 4%;
    background-size: cover;
}

.blocks:nth-child(8) {
    top: 2000px;
    width: 520px;
    right: 4%;
    background-size: cover;
}

.blocks:nth-child(9) {
    top: 3800px;
    width: 520px;
    left: 4%;
    background-size: cover;
}

.blocks:nth-child(10) {
    top: 3920px;
    width: 820px;
    right: 124px;
    background-size: cover;
}

.archive h1 {
    position: fixed;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    height: 56px;
    font-size: 4vw;
    line-height: 3.4vw;
    top: calc(100%/2);
    z-index: -1;
}

.experiance {
    padding-bottom: 164px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.archives {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50dvh;
    position: relative;
}

.cols h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 16px;
}

.cols p {
    font-size: 22px;
    line-height: 1.4em;
}

.experiance .flex {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 32px;
}

.experiance h1 {
    margin-bottom: 32px;
}

.skillsets h3 {
    color: var(--dark) !important;
    line-height: 32px !important;
    font-size: 32px !important;
    margin-bottom: 0 !important;
}

.experiance .cols h2:nth-child(1) {
    font-weight: 600;
}

.experiance a {
    text-decoration: underline;
}


.experiance p {
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 1.4em;
    padding-top: 12px;
    padding-bottom: 8px;
    color: var(--gray);
}

.experiance .flexBox {
    align-items: start;
    gap: 32px;
}

.experiance .cols {
    width: calc(100% / 3);
    background-color: var(--light);
    margin: 32px;
    border: 1px solid var(--dark);
    padding: 32px;
    border-radius: 16px;
}

.gallery .marquee {
    --gap: 32px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    color: var(--dark);
}

.gallery .marquee__content {
    flex-shrink: 0;
    height: auto;
    align-items: center;
}

.gallery .marquee img {
    max-width: calc(100dvh / 2);
    height: auto;
    border-radius: 18px;
}

.gallery ul {
    padding: 0;
}

.rights h1 {
    font-weight: 400;
}

.moreProjects {
    margin: auto;
    height: auto;
    padding: 32px;
    padding-top: 56px;
    padding-bottom: 132px;
}

.moreProjects img {
    width: 100% !important;
    height: auto;
    flex-shrink: 0;
}

.moreProjects .flexBox {
    justify-content: space-between;
    gap: 16px
}

.forMoment {
    width: 50%;
    background-color: var(--darkGray);
    border-radius: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.projectHeader .cols {
    height: fit-content;
}

.projectHeader .cols h1 {
    font-size: 48px;
    line-height: 1.4em;
}

.projectHeader .flexBox {
    align-content: flex-start;
}

.forMoment h1 {
    padding-top: 32px;
    font-size: 56px;
    line-height: 1.4em;
}

.forMoment h1:first-child {
    padding-top: 0;
}

.forMoment p {
    line-height: 1.4em;
    padding-top: 0;
}

.bullets {
    width: 50%;
}

.moreProject{
    padding-left: 64px;
    padding-right: 64px;
}

.moreProject .half {
    background-color: var(--darkGray);
    padding: 16px;
    margin-bottom: 64px;
    transition: background-color 0.5s ease;
}

.moreProject .half:hover {
    background-color: rgb(54, 54, 54);
    transition: background-color 0.5s ease;
}

.quotes {
    background-color: var(--darkGray);
    color: var(--light);
    padding: 32px !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    border-radius: 16px;
    text-align: center;
    width: calc(100% / 3);
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 64px;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
    z-index: 14;
}

footer h2 {
    font-size: 32px;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 16px;
}

#varType {
    font-weight: 100 800;
    transition: 0.5s ease;
    cursor: ew-resize;
}

/*Archive*/
.archiveGallery {
    padding-top: 0;
}

.archiveGallery .flexBox {
    display: flex;
    flex-wrap: nowrap;
}

.imgBG {
    padding: 64px;
}

.archiveGallery .flexBox {
    padding-left: 0;
    padding-right: 0;
}

.archiveGallery h1 {
    font-size: 4.4vw;
    line-height: 4.8vw;
    font-weight: 500 !important;
    padding-top: 64px;
    padding-bottom: 64px;
}

.archiveGallery .half {
    padding: 64px;
    display: flex;
    flex-wrap: wrap;
}

.archiveGallery .half:nth-child(even) {
    padding: 64px;
    padding-left: 32px;
}

.archiveGallery .half:nth-child(odd) {
    padding: 64px;
    padding-right: 32px;
    padding-right: 0;
    padding-left: 0;
}

.archiveGallery h2 {
    padding-top: 16px;
}

.imgBG {
    padding-bottom: 32px;
}

.cols h2 {
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 0;
}

.cols h3 {
    color: var(--light);
    margin-bottom: 64px;
}

.experiance {
    padding-top: 264px;
}

.otto img {
    margin-bottom: 64px;
}

.archiveGallery a,
.projectHero a {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.projectWriting a {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100rem;
    border: 1px solid var(--dark);
    background-color: var(--light);
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.archiveGallery a:hover {
    background-color: var(--light);
    color: var(--dark);
    transition: color 0.5s ease, background-color 0.5s ease;
}

/**************/

.heroTitle {
    padding-left: 56px;
}

canvas {
    overflow: visible;
    user-select: none;
}

#card1 {
    background-image: url(WishfulPhone2.png);
    object-fit: contain;
    background-size: 12vw 18vw;
}

#card2 {
    background-image: url(marquee_img_1.png);
    object-fit: contain;
    background-size: 12vw 18vw;
}

#card4 {
    background-image: url(marquee_img_3.png);
    object-fit: contain;
    background-size: 12vw 18vw;
}

@media screen and (max-width: 930px) {
    .heroTitle {
        padding-left: 16px;
    }

    .menu--toggle--text {
        display: block;
    }

    .navList {
        display: none;
    }

    .navDot {
        display: none;
    }

    .alexImg {
        padding-top: 64px;
    }

    .textContainer {
        left: 16px;
        bottom: 24px;
    }

    .passage {
        max-width: 100%;
    }

    .project .full:nth-child(even) {
        padding-left: 0;
        padding-right: 0;
    }

    .project .full:nth-child(even) {
        padding-left: 0;
        padding-right: 0;
    }

    .project .full,
    .project .half {
        padding-top: 132px !important;
    }

    .project .full:last-child {
        padding-bottom: 0;
    }

    .hero h1 {
        font-size: 82px !important;
        line-height: 82px;
    }

    .line {
        height: 156px;
        height: fit-content;
    }

    .text {
        height: fit-content;
        padding-top: 2px;
    }

    .text h2 {
        font-size: 32px;
        line-height: 38px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .project,
    .skills,
    .articles,
    .experiance,
    .hero .flexBox {
        padding: 16px;
    }

    .archiveGallery img {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .articles {
        margin: 0;
    }

    .experiance h1 {
        padding: 0;
        margin: 0;
    }

    .bar {
        width: calc(100% - 32px);
    }

    .hero h1 {
        padding-left: 16px;
    }

    .aboutMe {
        margin-bottom: 0;
    }

    .skills h1 {
        padding-bottom: 32px;
    }

    #arrow {
        display: none;
    }

    .articles .flexBox,
    .archiveGallery .flexBox,
    .wideTitle .flexBox {
        flex-wrap: wrap;
    }

    .articles .cols,
    .articles .cols,
    .archiveGallery .half,
    .wideTitle .flexBox .cols {
        width: 100%;
    }

    .archiveGallery .half {
        padding: 0;
    }

    .navList {
        padding-left: 12px;
        padding-right: 16px;
        width: 220px;
        margin-left: 0;
    }

    .navList .flexBox {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: start;
        width: 120px;
    }

    .forMoment .cols,
    .quotes {
        width: 100% !important;
    }

    .projectHero {
        padding-left: 16px;
        padding-right: 16px;
    }

    .projectHero .flexBox {
        flex-wrap: wrap;
    }

    .fullImgView {
        width: 100%;
        height: auto;
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .rols .flexBox {
        gap: 32px;
    }

    .wideTitle {
        padding: 0px;
    }

    .flexBox {
        flex-wrap: wrap;
    }

    .cols {
        width: 100%;
    }

    .half {
        width: 100% !important;
    }

    .dot {
        position: fixed;
        top: 24px;
        right: 16px;
    }

    .pageArrow {
        right: 16px;
        bottom: 0px;
    }

    .passage {
        width: 100%;
        text-wrap: wrap;
        font-size: 24px !important;
        line-height: 36px !important;
    }

    .moreProject .half {
        margin-bottom: 0px;
    }

    .gallery h2 {
        text-wrap: balance;
    }

    .project .half {
        width: 100%;
    }

    .project h2 {
        font-size: 48px;
        line-height: 56px !important;
        padding-top: 56px;
    }

    .project .mdTxt {
        width: 100%;
    }

    .spacing {
        margin-top: 64px;
    }

    .project .flexBox {
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 0 !important;
    }

    .project .mdMargin,
    .articles .mdMargin {
        display: none;
    }

    .articles h1 {
        font-size: 48px;
        padding-bottom: 56px;
    }

    .articles .flexBox {
        gap: 112px;
    }

    .imgBG {
        padding: 0;
        flex-shrink: 0;
    }

    .imgBG .half,
    .forty,
    .sixty {
        width: 100%;
        height: auto;
        padding: 0 !important;
        flex-shrink: 0;
    }

    .imgBG .cols {
        padding: 0 !important;
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .imgBG .flexBox {
        padding: 16px;
    }

    .imgBG .forty {
        width: 100%;
        height: auto;
    }

    .imgBG .forty img {
        margin: 0;
    }

    .imgBG .full {
        padding: 16px;
    }

    .imgBG h1 {
        font-size: 42px;
        line-height: 50px;
        padding: 16px;
        text-align: left !important;
    }

    .full {
        padding: 0px;
        width: 100% !important;
    }

    .half {
        padding: 0px !important;
    }

    #paddingTop {
        padding-top: 0;
    }

    .year {
        right: 16px;
    }

    .lgTitle {
        font-size: 56px;
        line-height: 64px;
    }

    .mdTxt {
        font-size: 32px;
        line-height: 42px;
    }

    .newcta .lgTxt {
        font-size: 48px;
        padding: 0;
        line-height: 56px;
    }

    .newcta h3 {
        text-align: center;
    }

    .drawer {
        padding-left: 0;
        padding-right: 0;
    }

    .drawer .xlTxt,
    .drawer h3 {
        font-size: 48px;
    }

    .drawer p {
        font-size: 32px;
        line-height: 40px !important;
    }

    .newcta .lgTxt {
        margin: auto;
        padding-bottom: 64px;
        font-size: 62px;
        line-height: 68px;
    }

    #social {
        display: none;
    }

    footer {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    .archives {
        height: 50dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutMe .marquee {
        margin-bottom: 96px;
    }

    .bullets,
    .forMoment {
        width: 100%;
    }

    .defaultstickers {
        top: 16px;
        left: 32px;
        width: 250px;
        margin: auto;
    }

    .sticker {
        height: 300px;
        width: auto;
    }

    .pageViewer {
        right: 16px;
    }

    .pageViewer {
        display: none;
        opacity: 0;
    }

    .errorMessage {
        padding: 16px;
    }

    #score {
        font-size: 56px !important;
    }

    .errorMessage h2 {
        padding-top: 32px;
    }

    .errorMessage h1 {
        width: 60%;
        font-size: 32px;
        line-height: 32px;
    }

    .errorMessage p {
        width: 60%;
        padding-bottom: 32px;
    }

    .newcols {
        width: 100%;
    }

    .videoFrame {
        padding-top: 232px;
    }

    .moibleLogo {
        display: block;
    }

    .mobileSpacing {
        padding-top: 132px !important;
    }

    .project{
        max-width: 100%;
    }
}