body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* html{ scroll-behavior: smooth;} */

html, body {
    height: 100%;
    overflow: hidden;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

::selection {
    background: #856cff;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    text-wrap: balance;
}

::-webkit-scrollbar {
    width: 0px;
  }

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: fixed;
    left: 32px;
    top: 32px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    mix-blend-mode: difference;
    z-index: 222222;
}

.menuBtn{
    position: fixed;
    right: 32px;
    top: 32px;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 222222;
    mix-blend-mode: difference;
}

.menuBtn a{
    color: white;
    cursor: pointer;
}

.nav {
    position: fixed;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    mix-blend-mode: difference;
    padding-top: 32px;
    z-index: 2211111;
}

.navList {
    position: absolute;
    padding-top: 32px;
    z-index: 11111;
    width: 200px;
    right: 132px;
    display: flex;
    color: white;
    justify-content: space-between;
    z-index: 222;
    mix-blend-mode: difference;
}

.navList li, #listContainer {
    list-style-type: none;
    font-size: 22px;
    text-transform: uppercase;
}

#listContainer{
    display: none;
    float: right;
}

#listContainer li{
    height: fit-content;
    padding-bottom: 0;
    padding-top: 32px;
    font-size: 22px;
    line-height: 22px;
    padding-right: 8px;
}

#listContainer li:first-child{
    padding-top: 0;
}

#listContainer a{
    color: black;
}

#listContainer a:hover{
    color: gray;
}

.navList a {
    mix-blend-mode: difference;
    color: white;
}

.nav a {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    mix-blend-mode: difference;
    cursor: pointer;
}

.nav a:hover,
.navList a:hover {
    color: gray;
}

.topMenu{
    font-size: 4vw;
    text-align: center;
    padding-top: 132px;
    user-select: none;
}

.topMenu a{
    color: white;
    cursor: pointer;
}

.topMenu a:hover{
    color: gray;
}

#navMenu {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: top 0.3s ease;
    z-index: 22222;
}

.sm {
    position: fixed;
    bottom: 32px;
    left: 32px;
    background-color: white;
    width: 56px;
    height: 56px;
    font-size: 56px;
    padding: 16px;
    border-radius: 12px;
    justify-content: end;
    vertical-align: center;
    display: flex;
    cursor: pointer;
    z-index: 22222;
    color: black;
    mix-blend-mode: difference;
}

.sm .material-symbols-outlined{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.aboutMe {
    position: relative;
}

.aboutArrow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 1;
    user-select: none;
    z-index: 1000;
    display: none;
    opacity: 0;
}


.aboutArrow .material-symbols-outlined {
    font-size: 420px;
    font-weight: 900;
    rotate: 45deg;
    color: #856cff;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 1000;
    cursor: none;
}

.aboutMe:hover .aboutArrow{
    display: block;
    opacity: 1;
    transition: 0.1s ease-out;
    cursor: none;
}

.upArrow {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: white;
    mix-blend-mode: difference;
    width: 56px;
    height: 56px;
    font-size: 56px;
    padding: 16px;
    border-radius: 100rem;
    justify-content: center;
    vertical-align: center;
    display: flex;
    cursor: pointer;
    z-index: 11111;
    user-select: none;
    border: 1px solid transparent;
}

#myBtn {
    transform: rotate(0deg);
    transition: 0.8s ease;
}

.sm .material-symbols-outlined,
.photoCard .material-symbols-outlined {
    rotate: 45deg;
    user-select: none;
}

.upArrow:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

/* .sm:active, .upArrow:active{
    color: black;
    background-color: white;
} */

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48;
}


.hero h1 {
    font-size: 4.2vw;
    line-height: 4.4vw;
    font-weight: 400;
    max-width: 34ch;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 222px;
    padding-bottom: 132px;
    text-align: center;
    margin: auto;
}

.bio,
.things,
.articles,
.contact,
.archive {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
}

.bio {
    padding-bottom: 132px;
}

.bio h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.bio h2 {
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -1%;
    max-width: 35ch;
    padding-bottom: 32px;
}

.bio h5 {
    border: 1px solid white;
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
    padding: 16px;
    border-radius: 100rem;
}

.logoReel {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
}

.logoReel img {
    width: 200px;
    margin-right: 132px;
}


.projects {
    padding-left: 10%;
    padding-right: 10%;
}

.projects h1 {
    font-size: 3vw;
    padding-bottom: 112px;
    padding-top: 12px;
}

.projects .flexBox {
    padding-bottom: 132px;
}

.box,
.serviceBox {
    width: calc(50% - 24px);
}

.full {
    width: 100%;
    margin-bottom: 132px;
}

.capations .flexBox {
    padding-bottom: 0;
    padding-top: 16px;
}

.capations h2 {
    font-size: 22px;
    color: black;
    width: 100%;
    font-weight: 400;
}

.capations h4 {
    font-size: 18px;
    color: rgb(52, 52, 52);
    width: 100%;
    font-weight: 400;
    padding-top: 0px;
}

.arrow {
    width: 48px;
    height: 48px;
    padding: 12px;
    color: rgb(52, 52, 52);
    border-radius: 100rem;
    position: absolute;
    background-color: transparent;
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: 0.2s ease-out;
}

.photoCard:hover {
    cursor: pointer;
}

.photoCard:hover .arrow {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.photoCard img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photoCard {
    position: relative;
    padding: 76px;
    background-color: rgb(248, 248, 248);
    transition: background-color 0.2s ease;
}

.photoCard h2, .photoCard h3, .rows h4{
    transition: color 0.2s ease;
}

.photoCard:hover h2, .photoCard:hover h3, .rows:hover h4{
    color: black;
    transition: 0.2s ease;
}

.photoCard h2 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(108, 108, 108);
    position: absolute;
    left: 16px;
    top: 16px;
}

.photoCard h3 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(108, 108, 108);
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.things {
    padding-top: 132px;
}

.serviceBox {
    border: 1px solid white;
    padding: 12px;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 400;
    height: 400px;
    position: relative;
    margin-bottom: 64px;
}

.articles {
    padding-bottom: 64px;
    overflow-x: hidden;
    min-width: 100%;
    margin-right: 32px;
    z-index: 12;
}

.storyCards {
    min-width: 420px;
    margin-right: 132px;
}

.storyCards img {
    width: 420px;
    height: 500px;
    object-fit: cover;
}

.cursorPics{
    object-fit: cover;
    overflow: hidden;
    width: 320px;
    height: 220px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 1;
    user-select: none;
    z-index: 1000;
    background-color: rgb(170, 72, 72);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: none;
    opacity: 0;
}

.rows {
    position: relative;
    width: 100%;
    padding: 24px;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    color: rgb(108, 108, 108);
}

.rows:hover .cursorPics{
    display: block;
    opacity: 1;
    transition: 0.1s ease-out;
    cursor: none;
}

.rows .flexBox{
    padding-bottom: 0;
}

.rows .arrow{
    position: relative;
    top: 0px;
    rotate: 45deg;
    right: 0;
}

.rows h4{
    font-size: 18px;
    font-weight: 400;
}

.rows:hover .arrow {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact {
    text-align: center;
    padding-bottom: 132px;
}

.contact h1 {
    font-size: 9.4vw;
    line-height: 8vw;
    text-transform: uppercase;
    padding-top: 132px;
    font-weight: 900 !important;
}

.contact p {
    font-size: 22px;
    padding-top: 32px;
    padding-bottom: 16px;
    width: 570px;
    margin: auto;
    line-height: 24px;
    color: gray;
    text-transform: uppercase;
}

.contact a {
    font-size: 22px;
    text-transform: uppercase;
}

#colsStuff {
    align-items: start;
    padding-left: 10%;
    padding-right: 10%;
}

.cols {
    width: calc(100% / 4 - 16px);
    margin-top: 64px;
    display: inline-block;
}

.cols a {
    color: white;
    padding-right: 32px;
}

.cols h4 {
    padding-bottom: 32px;
}

.cols h2, .experiance h2{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 24px;
}

.cols p{
    font-size: 22px;
    padding-bottom: 12px;
    color: rgb(108, 108, 108);
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin-bottom: 132px;
}

.marquee .logo {
    width: 100%;
    background-color: green;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

.marquee li {
    text-decoration: none;
    list-style-type: none;
    font-size: 17vw;
}

.marquee__content {
    animation: scroll 30s linear infinite;
}

.spin{
    position: absolute;
    rotate: 0deg;
    animation: spinning 15s linear infinite;
}

@keyframes spinning{
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.archive{
    padding-bottom: 132px;
    padding-left: 10%;
    padding-right: 10%;
}

.archive h1, .experiance h1{
    padding-bottom: 32px;
    font-size: 4vw;
    font-weight: 400;
}

.experiance{
    padding-bottom: 132px;
    padding-left: 10%;
    padding-right: 10%;
}

.experiance h2{
    max-width: 60ch;
}

.experiance .flexBox{
    align-items: start;
}

.rights {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    color: black;
    bottom: 32px;
    width: 400px;
    margin: auto;
    z-index: 111;
    font-weight: 300;
}

.rights h1{
    font-weight: 400;
}