body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    overflow-x: hidden;
}

:focus {
    outline: 3px solid orange !important;
}

ul {
    list-style-type: none;
}

br {
    user-select: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

::selection {
    background: #000000;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    text-wrap: balance;
}

::-webkit-scrollbar {
    width: 0px;
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: fixed;
    left: 32px;
    top: 32px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    mix-blend-mode: difference;
    z-index: 222222;
}

.nav {
    position: fixed;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    mix-blend-mode: difference;
    padding-top: 32px;
    z-index: 2211111;
}

.navList {
    position: fixed;
    padding-top: 32px;
    z-index: 2211111;
    width: 220px;
    right: 32px;
    display: flex;
    color: white;
    justify-content: space-between;
    z-index: 222;
    mix-blend-mode: difference;
}

.navList,
#listContainer {
    list-style-type: none;
    font-size: 22px;
    text-transform: uppercase;
}

#listContainer {
    display: none;
    float: right;
}

#listContainer li {
    height: fit-content;
    padding-bottom: 0;
    padding-top: 32px;
    font-size: 22px;
    line-height: 22px;
    padding-right: 8px;
}

#listContainer li:first-child {
    padding-top: 0;
}

#listContainer a {
    color: white;
}

#listContainer a:hover {
    color: gray;
}

.navList a {
    mix-blend-mode: difference;
    color: white;
}

.nav a {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    mix-blend-mode: difference;
    cursor: pointer;
}

.nav a:hover,
.navList a:hover {
    color: gray;
}

.list {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.topMenu a {
    color: white;
    cursor: pointer;
    line-height: 12vw;
    text-transform: uppercase;
}

.topMenu a:hover {
    color: gray;
}

#navMenu {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: top 0.3s ease;
    z-index: 22222;
}

.sm {
    position: fixed;
    bottom: 32px;
    left: 32px;
    background-color: black;
    width: 56px;
    height: 56px;
    font-size: 56px;
    padding: 16px;
    border-radius: 12px;
    justify-content: end;
    vertical-align: center;
    display: flex;
    cursor: pointer;
    z-index: 22222;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sm .material-symbols-outlined {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.aboutMe {
    position: relative;
}

.aboutArrow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 1;
    user-select: none;
    z-index: 1000;
    display: none;
    opacity: 0;
}


.aboutArrow .material-symbols-outlined {
    font-size: 420px;
    font-weight: 900;
    rotate: 45deg;
    color: #856cff;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 1000;
    cursor: none;
}

.aboutMe:hover .aboutArrow {
    display: block;
    opacity: 1;
    transition: 0.1s ease-out;
    cursor: none;
}

.upArrow {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: black;
    color: white;
    width: 56px;
    height: 56px;
    font-size: 56px;
    padding: 16px;
    border-radius: 100rem;
    justify-content: center;
    vertical-align: center;
    display: flex;
    cursor: pointer;
    z-index: 11111;
    user-select: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sm .material-symbols-outlined,
.photoCard .material-symbols-outlined {
    rotate: 45deg;
    user-select: none;
}

.upArrow:hover {
    color: black;
    background-color: rgb(248, 248, 248);
}

/* .sm:active, .upArrow:active{
    color: black;
    background-color: white;
} */

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48;
}

.underline a {
    text-decoration: underline;
    text-underline-offset: 12px;
    cursor: pointer;
}

.underline a:hover {
    color: gray;
}

.projectHero {
    padding-left: 10%;
    padding-right: 10%;
}

.rols {
    padding-bottom: 64px;
}


.projectHero .cols {
    align-items: flex-start;
}

.projectHero .half {
    color: rgb(108, 108, 108)
}

.projectHero .cols p {
    font-size: 18px;
}

.projectTitles {
    padding-bottom: 32px;
}

.projectTitles h4 {
    font-weight: 400;
}

.imgCard {
    padding: 10%;
    background-color: rgb(248, 248, 248);
}

.hero h1,
.projectHero h1 {
    font-size: 4.2vw;
    line-height: 4.4vw;
    font-weight: 400;
    max-width: 34ch;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 222px;
    padding-bottom: 132px;
    text-align: center;
    margin: auto;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1111222;
    background-color: white;
}

@keyframes moveUP {
    0% {
        padding-top: 522px;
        opacity: 0;
    }

    100% {
        padding-top: 222px;
        opacity: 1;
    }
}

.moveBlock {
    position: relative;
    font-size: 4.2vw;
    line-height: 4.4vw;
    font-weight: 400;
    max-width: 34ch;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 222px;
    padding-bottom: 132px;
    text-align: center;
    margin: auto;
    opacity: 1;
    animation: moveUP 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.no-scroll {
    overflow: hidden;
}

.projectHero h1 {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0px;
}

.block {
    height: 120px;
    /* background: url(https://static.boredpanda.com/blog/wp-content/uploads/2020/05/B_u1hYOpG4T-png__880.jpg); */
    background: url(closeeyes.png);
    background-size: cover;
    background-position: center;
    color: transparent;
    user-select: none;
    overflow: hidden;
    position: relative;
    animation: fadeIn 1s ease;
    top: 0px;
}

.hero h1 {
    overflow: hidden;
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: -32px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

.projectHero .half {
    width: calc(100% / 2 - 16px);
}

.projectHero img {
    margin-bottom: 32px;
}

.wideTitle {
    text-align: center;
    padding-top: 132px;
    padding-bottom: 132px;
}

.wideTitle h1 {
    padding: 16px;
    font-size: 48px;
    line-height: 48px;
    color: gray;
}

.wideTitle p {
    font-size: 48px;
    line-height: 48px;
    max-width: 40ch;
    margin: auto;
}

.bio,
.things,
.articles,
.contact,
.archive {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
}

.archive{
    padding-top: 230px;
}

.bio {
    padding-bottom: 132px;
}

.bio h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.bio h2 {
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: -1%;
    max-width: 35ch;
    padding-bottom: 32px;
}

.bio h5 {
    border: 1px solid white;
    width: fit-content;
    font-size: 22px;
    font-weight: 400;
    padding: 16px;
    border-radius: 100rem;
}

.logoReel {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
}

.logoReel img {
    width: 200px;
    margin-right: 132px;
}


.projects {
    padding-left: 10%;
    padding-right: 10%;
}

.projects h1 {
    font-size: 3vw;
    padding-bottom: 112px;
    padding-top: 12px;
}

.projects .flexBox {
    padding-bottom: 132px;
}

.box,
.serviceBox {
    width: calc(50% - 24px);
}

.archive .box{
    width: 100%;
}

.archive .photoCard{
    height: 40px;
    overflow: hidden;
}

.full {
    width: 100%;
    margin-bottom: 132px;
}

.capations .flexBox {
    padding-bottom: 0;
    padding-top: 16px;
}

.capations h2 {
    font-size: 22px;
    color: black;
    width: 100%;
    font-weight: 400;
}

.capations h4 {
    font-size: 18px;
    color: rgb(52, 52, 52);
    width: 100%;
    font-weight: 400;
    padding-top: 0px;
}

.arrow {
    width: 48px;
    height: 48px;
    padding: 12px;
    color: rgb(52, 52, 52);
    border-radius: 100rem;
    position: absolute;
    background-color: transparent;
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: 0.2s ease-out;
}

.photoCard:hover {
    cursor: pointer;
}

.photoCard:hover .arrow {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.photoCard img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.photoCard {
    position: relative;
    padding: 76px;
    background-color: rgb(248, 248, 248);
    transition: background-color 0.2s ease;
}

.photoCard h2,
.photoCard h3,
.rows h4 {
    transition: color 0.2s ease;
}

.photoCard:hover h2,
.photoCard:hover h3 {
    color: black;
    transition: 0.2s ease;
}

.photoCard img {
    transition: scale 0.5s ease;
}

.photoCard:hover img {
    scale: 1.01;
    transition: scale 0.5s ease;
}

.photoCard h2 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(108, 108, 108);
    position: absolute;
    left: 16px;
    top: 16px;
}

.photoCard h3 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(108, 108, 108);
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.things {
    padding-top: 132px;
}

.serviceBox {
    border: 1px solid white;
    padding: 12px;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 400;
    height: 400px;
    position: relative;
    margin-bottom: 64px;
}

.articles {
    padding-bottom: 64px;
    overflow-x: hidden;
    min-width: 100%;
    margin-right: 32px;
    z-index: 12;
}

.storyCards {
    min-width: 420px;
    margin-right: 132px;
}

.storyCards img {
    width: 420px;
    height: 500px;
    object-fit: cover;
}

.cursorPics {
    overflow: hidden;
    width: 420px;
    height: 86px;
    position: relative;
    object-fit: cover;
    margin: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* display: none;
    opacity: 0; */
    display: block;
    transition: height 0.5s ease;
}

.rows:hover .cursorPics {
    height: 260px;
    transition: height 0.5s ease;
}

.rows {
    position: relative;
    width: 100%;
    padding: 24px;
    margin-bottom: 18px;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    color: rgb(108, 108, 108);
    transition: 0.5s ease;
}

.rows .flexBox {
    padding-bottom: 0;
}

.rows .arrow {
    position: relative;
    top: 0px;
    rotate: 45deg;
    right: 0;
}

.rows h4 {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.rows h4:nth-child(4) {
    width: 160px;
    text-align: center;
}

.rows h4:nth-child(1) {
    width: 160px;
    text-align: left;
}

.rows:hover h4{
    color: black;
    transition: 0.2s ease-out;
}

.rows:hover .arrow {
    background-color: black;
    color: white;
    transition: 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact {
    text-align: center;
    padding-bottom: 132px;
}

.contact h1 {
    font-size: 9.4vw;
    line-height: 8vw;
    text-transform: uppercase;
    padding-top: 132px;
    font-weight: 900 !important;
}

.contact p {
    font-size: 22px;
    padding-top: 32px;
    padding-bottom: 16px;
    width: 570px;
    margin: auto;
    line-height: 24px;
    color: gray;
    text-transform: uppercase;
}

.contact a {
    font-size: 22px;
    text-transform: uppercase;
}

#colsStuff {
    align-items: start;
    padding-left: 10%;
    padding-right: 10%;
}

.cols {
    width: calc(100% / 4 - 16px);
    display: inline-block;
}

.cols a {
    color: white;
    padding-right: 32px;
}

.cols h4 {
    padding-bottom: 32px;
}

.cols h2,
.experiance h2 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 24px;
}

.cols p {
    font-size: 22px;
    padding-bottom: 12px;
    color: rgb(108, 108, 108);
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin-bottom: 132px;
}

.marquee .logo {
    width: 100%;
    background-color: green;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

.marquee li {
    text-decoration: none;
    list-style-type: none;
    font-size: 17vw;
}

.marquee__content {
    animation: scroll 30s linear infinite;
}

.spin {
    position: absolute;
    rotate: 0deg;
    animation: spinning 15s linear infinite;
}

@keyframes spinning {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.archive {
    padding-bottom: 132px;
    padding-left: 32px;
    padding-right: 32px;
}

.archive h1,
.experiance h1 {
    padding-bottom: 32px;
    font-size: 4vw;
    font-weight: 400;
}

.experiance {
    padding-bottom: 132px;
    padding-left: 10%;
    padding-right: 10%;
}

.experiance h2 {
    max-width: 60ch;
}

.experiance .flexBox {
    align-items: start;
}

.experiance .cols img {
    object-fit: cover;
    width: 300px;
    height: 370px;
    transition: scale 0.5s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.experiance .cols:hover img {
    scale: 1.01;
    transition: scale 0.5s ease;
}

.experiance .cols:nth-child(3) {
    position: relative;
    left: -64px;
    padding: 32px;
    background-color: rgb(248, 248, 248);
}

.rights {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    color: black;
    bottom: 32px;
    width: 400px;
    margin: auto;
    z-index: 111;
    font-weight: 300;
}

.errorPage {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.errorPage h1 {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-size: 8vw;
    line-height: 8vw;
    margin: auto;
    font-weight: 400;
}

.errorPage p{
    position: fixed;
    margin: auto;
    font-size: 22px;
    line-height: 22px;
    background-color: rgb(248, 248, 248);
    width: fit-content;
    padding: 64px;
    top: 10%;
    left: 0;
    right: 0;
}

.errorPage {
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
}

.errorPage .marquee {
    margin-bottom: 0;
    line-height: 17vw;
}

.errorArrow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 1;
    user-select: none;
    z-index: 1000;
    transition: 0.1s ease-out;
}

.errorArrow .material-symbols-outlined {
    font-size: 420px;
    font-weight: 900;
    rotate: -45deg;
    color: #856cff;
    backface-visibility: hidden;
    pointer-events: none;
    z-index: 1000;
    cursor: none;
}


.rights h1 {
    font-weight: 400;
}